body {
padding:0px;
margin:0px;

}

.container {
padding:0px;
margin:0 auto;
}

@media (min-width: 927px) { 

.container {
width: 900px;
margin: 0 auto;
}

}

#border-fixed-top{
height:20px;	
}

.sistem-message {
	color:red;
}